
@media (max-width: 576px){
.col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
}
div#first-sec p {
    color: rgba(255, 255, 255, 0.8);
  
}

section#history-section img {
    width: 100%;
}

section#history-section01 img {
    width: 100%;
}

section#history-section02 img {
    width: 100%;
}

section#history-section{
  
    width: 100%;
    
}
section#history-section01 {
   
    width: 100%;
    
}

section#history-section02 {
    width: 100%;
    
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    section#city img {
        width: 100%;
    }
    #city {
        height: 865px;
        
    }

    .hom img {
        float: none;
    }

    section#history-section {
        flex-direction: column;
    }
    section#history-section img {
        float: none;
        width: 100%;
    }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

        .sec-pic {
            width: 126%;
        }
    }