
@media(max-width: 800px) {
    .first-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .box1 {
        width: 100%;
    }
.cbd-ct {
    display: flex;
    flex-direction: column;
    }
    .text01 {
        width: 50%;
    }
    .text02 {
        width: 50%;
    }
    .pic-box {
        width: 50%;
    }
    .sec-02 {
        order: 1;
    }
    .text01 {
        order: 2;
    }
    
}











 @media (max-width: 576px){
.col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
}
div#first-sec p {
    color: rgba(255, 255, 255, 0.8);
  
}

section#history-section img {
    width: 100%;
}

section#history-section01 img {
    width: 100%;
}

section#history-section02 img {
    width: 100%;
}

section#history-section{
  
    width: 100%;
    
}
section#history-section01 {
   
    width: 100%;
    
}

section#history-section02 {
    width: 100%;
    
}


}










@media (max-width: 576px){
.col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
}
div#first-sec p {
    color: rgba(255, 255, 255, 0.8);
  
}

section#history-section img {
    width: 100%;
}

section#history-section01 img {
    width: 100%;
}

section#history-section02 img {
    width: 100%;
}

section#history-section{
  
    width: 100%;
    
}
section#history-section01 {
   
    width: 100%;
    
}

section#history-section02 {
    width: 100%;
    
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
    section#city img {
        width: 100%;
    }
    #city {
        height: 1500px;
        
    }




    .first-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .box1 {
        width: 100%;
    }
.cbd-ct {
    display: flex;
    flex-direction: column;
    }
    .text01 {
        width: 50%;
    }
    .text02 {
        width: 50%;
    }
    .pic-box {
        width: 50%;
    }





    .hom img {
        float: none;
    }

    section#history-section {
        flex-direction: column;
    }
    section#history-section img {
        float: none;
        width: 100%;
    }
    .sec-02 {
        order: 1;
        flex:auto;
    }
    .text02 {
        order: 2;
    }
    p {
        font-size: 36px;
    }


section.hom p {
    margin-left: 0px;
    font-size: 31px;
    
}

    th, td {
        
        font-size: 43px;
    }
    

    #lang-section {
        height: 750px;
        
    }

    h4 {
        font-size: 40px;
    }

    h2 {
        font-size: 60px;
    }

    .menus a {
        
        font-size: 40px;
        
    }


    .cbd-ct img {
        height: 429px;
        margin-top: 65px;
    }

    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

        
        .cbd-ct img {
            height: 348px;
        }
    } 

    @media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {

        
        .sec-02 {
            
            flex:auto;
        }
    } 